*{
    margin: 0;
    padding: 0;
}
.quiz-box{
    display: none;
}

.animation{
    transition: all 0.9s ease;
    transform: translate(-10%,-20%) scale(1);
}
#options-list .d-grid .opti.diss{
 pointer-events: none;
}