*{
    margin: 0;
    padding: 0;
}
.quiz-box{
    display: none;
}

.animation{
    transition: all 0.9s ease;
    transform: translate(-10%,-20%) scale(1);
}
#options-list .d-grid .opti.disabled{
 pointer-events: none;
}
.timeline{
    position: absolute;
    background-color: #F0A500;
    top: 11.5%;
    left: 0%;
    height: 3px;
    
}